:root {
  --Grayish: hsl(233, 8%, 79%);
  --Off-white: hsl(36, 100%, 99%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
  --interfont: ("Inter", sans-serif;);
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  /* --font1: ; */
}
* {
  font-family: "Inter";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: var(--Off-white);
}

.container {
  max-width: 120rem;
  width: 80%;
  margin: 0 auto;
}

.navbar {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 0;
}
li {
  display: inline-block;
  margin: 0 2rem;
}

li a {
  color: var(--Dark-grayish-blue);
}
@media (min-width: 768px) {
  .nav-links {
    display: flex;
    /* gap: 2rem; */
  }
}

@media (min-width: 375px) {
  main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
  }
}

/* ### Banner ### */
.banner img {
  max-width: 100%;
}

.banner__bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 2rem 0;
}

.banner__title {
  font-weight: 900;
  font-size: 5rem;
  padding-right: 1rem;
}
.banner__subTitle {
  color: var(--Dark-grayish-blue);
  font-size: 1.4rem;
  line-height: 1.5;
  padding: 0 rem;
  display: flex;
  flex-direction: column;
}
.banner__btn {
  font-weight: bold;
  font-size: large;
  margin: 3rem 0 3rem 0;
  max-width: 50%;
  padding: 1.5rem;
}

/* ### Footer section ### */

/* notes:
  - I think I need to utilize CSS grid for the footer section
  - Imgs on the left side and title, number, and article next to it

*/

footer {
  padding-top: 3rem;
  gap: 1rem;
  display: flex;
  height: 10rem;
}

footer article {
  display: flex;
}

footer article img {
  margin: 0 1rem;
}
article .article_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ### Challenge code ### */
/* coded with the challenge */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
